# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: "에브리DAI"
email: "khsqowp@github.io"
description: >- # this means to ignore newlines until "baseurl:"
  보안, 개발, 그리고 성장을 위한 학습 로그 (EveryDAI)
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://khsqowp.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: khsqowp
github_username: khsqowp

# Minimal Mistakes Skin
minimal_mistakes_skin: "default" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Build settings
markdown: kramdown
remote_theme: "mmistakes/minimal-mistakes"
# Outputting
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: Asia/Seoul # Seoul

include:
  - _pages

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - jekyll-remote-theme # 테마 로드를 위해 필수 추가

# Defaults
permalink: /posts/:year/:month/:day/:title/

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "single"
      author_profile: true
      read_time: true
      show_date: true
      date_format: "%Y-%m-%d"
      comments: false
      share: true
      related: true
  - scope:
      path: ""
      type: "pages"
    values:
      layout: "single"
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
